.settingsPanel {
  width: 300px;
  padding: 10px;
  border-left: 1px solid #ddd;
  background: #fff;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);

  .deleteButton {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
      background-color: darkred;
    }
  }
}

.dndNode {
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 4px;
  cursor: grab;
  transition: background-color 0.3s, transform 0.3s;

  &:active {
    transform: scale(0.98);
  }

  &:hover {
    background-color: #f0f0f0;
  }
}

.saveButton {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;

  &:hover {
    background-color: #0056b3;
  }

  &:active {
    transform: scale(0.98);
  }
}

.description {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.saveFlowButton {
  background-color: #28a745;
  margin-top: 10px;
  padding: 20px 120px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  bottom: 8px;
  right: 8px;
  position: absolute;
  transition: background-color 0.3s, transform 0.3s;

  &:hover {
    background-color: #218838;
  }
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}
