/* Styles specific to the SettingsPanel component */
.settings-panel {
  width: 300px;
  padding: 10px;
  border-left: 1px solid #ddd;
  background: #fff;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
}

.dndnode {
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 4px;
  cursor: grab;
  transition: background-color 0.3s, transform 0.3s;
}

.dndnode:active {
  transform: scale(0.98);
}

.dndnode:hover {
  background-color: #f0f0f0;
}

.save-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
}

.save-button:hover {
  background-color: #0056b3;
}

.save-button:active {
  transform: scale(0.98);
}

.description {
  margin-bottom: 10px;
  color: #333;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.settings-panel .delete-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
}

.settings-panel .delete-button:hover {
  background-color: darkred;
}

.save-flow-button {
  background-color: #28a745;
  /* Green background for save flow */
  margin-top: 10px;
  padding: 20px 120px;
  /* background-color: red; */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  bottom: 8px;
  right: 8px;
  position: absolute;
  /* width: 100%; */

  transition: background-color 0.3s, transform 0.3s;
}

.save-flow-button:hover {
  background-color: #218838; /* Darker green on hover */
}
